@{
    ViewData["Title"] = "Home Page";
}

@model ManagerQM.Models.ErrorViewModel
<div class="text-center">
    <p>First here</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-secondary ms-2">Log in</a>
</div>



